{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }
    </style>
{% endblock %}

{% block body %}
    <h2>My Map</h2>
    <div id="map"></div>
    {{ temperatura }}
{% endblock %}

{% block javascripts %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>

    <script>
        var lon = {{ lon }};
        var lat = {{ lat }};
        const lonLat = [lon, lat];

        mapboxgl.accessToken = 'pk.eyJ1IjoiamxvcmVuem9wIiwiYSI6ImNrYW9iYnIxYTEyMWEydHFtNmdyMWNxdWYifQ.PWvneZDcGzIPYO334co6qA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: lonLat,
            zoom: 8
        });

        var marker = new mapboxgl.Marker()
            .setLngLat(lonLat)
            .addTo(map);
    </script>
{% endblock %}
